@import "../styles";
div {
    background: $primary-color;
}

.main{
    width: 80%;
    margin: 0 auto;
    #{&}_paragraph {
        font-weight: map-get($font-weights, bold);
        &:hover{
            color:pink;
        }
    }
}

